<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">

    <a href="#/app/convert-local" class="button button-block button-balanced">
      <i class="icon ion-ios7-loop"></i>
      Convert local xlsx JSON
    </a>

    <a href="#/app/upload" class="button button-block button-balanced">
      <i class="icon ion-ios7-cloud-upload-outline"></i>
      Upload JSON file
    </a>

    <a href="#/app/convert" class="button button-block button-balanced">
      <i class="icon ion-ios7-loop"></i>
      Convert to JSON
    </a>

  </ion-content>
</ion-view>